

.container {
  position: relative;
  display: flex;
  width: 600px;
  max-height: 400px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 100px;
  justify-content: space-around;
  border-radius: 6px;
  box-shadow: 2px 2px 8px gray;
  flex-wrap: wrap;
}



.task-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}

.input {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px;
  font-size: 16px;
}

.edit-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; 
}

.edit-input {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px;
  font-size: 16px;
}

.save-button {
  position: relative;
  display: flex;
  background-color: rgb(60, 60, 235);
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}

.button {
  position: relative;
  display: flex;
  background-color: rgb(60, 60, 235);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 15px;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}



.note {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  margin: 1px;
  background-color:white;
  font-size: 20px;
  box-shadow: 2px 2px 8px gray;
}

.delite-button {
   position: relative;
  display: flex;
  background-color: rgb(255, 8, 8);
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}

.edit-button {
   position: relative;
  display: flex;
  background-color: rgb(60, 60, 235);
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}

.title {
  position: relative;
  display: flex;
  width: 100%;
}

.notes {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.list {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 240px;
  overflow-y:auto;
} 

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
}


